{% extends 'flntr/base.html' %}

{% block title_block %}
	this page works
{% endblock %}

{% block body_block %}

<h1>Add a room</h1>
<div>
	<form id="flat_form" method="post" action="{% url 'add_flat' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ flat_form.as_p }}
		<div id="add_image_div">
			{{ image_form.as_p }}
		</div>
		<Button id="more_images_button" type="button">Add additional images</Button></br>
		<input type="submit" name="submit" value="Submit"/>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
var numImages = 1;
$("#more_images_button").click(function(){
	if(numImages <5){
		$("#id_image").clone().appendTo("#add_image_div");
		numImages++;
		if(numImages >= 5){
			$("#more_images_button").hide();
		}
	}
});

</script>

{% endblock %}
