<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
	<meta charset="utf-8">
	<title>
	flntr -
	{% block title_block %}
		this is a flntr page
	{% endblock %}
	</title>
</head>
<body>
	<div>
		{% block body_block %}
		{% endblock %}
	</div>
	<div>
		<ul>
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
				{% if perms.flntr_app.add_flat %}
				<li><a href="{% url 'add_flat' %}">Add Flat</a></li>
				{% endif %} 
				{% if perms.flntr_app.change_studentprofile %}
				<li><a href="{% url 'show_user_account' user.username %}">View My Profile</a></li>
				{% endif %}
			{% else %}
			<li><a href="{% url 'login' %}">Log In</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
			{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'index' %}">Homepage</a></li>

			<li><a href="{% url 'search' %}">Search</a></li>
		</ul>
	</div>
	<hr />
	</body>
</html>
