<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
	<meta charset="utf-8">
	<title>
	flntr - 
	{% block title_block %}
		this is a flntr page
	{% endblock %}
	</title>
</head>
<body>
	<div>
		{% block body_block %}
		{% endblock %}
	</div>
	<div>
		<ul>
			<li><a href="{% url 'logout' %}">Logout</a></li> 
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'index' %}">Homepage</a></li>
			<li><a href="{% url 'login' %}">Log In</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
			<li><a href="{% url 'add_room' %}">Add Room</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
		</ul>
	</div>
	<hr />
	</body>
</html>