<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  flntr - Rooms You Can View
  {% block title_block %}
  {% endblock %}
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/flntr.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">flntr</a>
        </div>
         <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
        {% if perms.flntr_app.add_flat %}
        <li><a href="{% url 'add_flat' %}">Add Flat</a></li>
        <li><a href="{% url 'show_user_account' %}">Manage Flats</a></li>
        {% endif %}
        {% if perms.flntr_app.change_studentprofile %}
        <li><a href="{% url 'show_user_account' %}">View My Profile</a></li>
        {% endif %}
      {% else %}
      <li><a href="{% url 'login' %}">Log In</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'index' %}">Homepage</a></li>
      <li><a href="{% url 'search' %}">Search</a></li>
      </ul>

        </div><!-- /.nav-collapse -->
      </div>
    </nav>
  <div>
    {% block body_block %}
    {% endblock %}
  </div>
	<div>
		<ul>
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
				{% if perms.flntr_app.add_flat %}
				<li><a href="{% url 'add_flat' %}">Add Flat</a></li>
        <li><a href="{% url 'show_user_account' %}">Manage Flats</a></li>
				{% endif %}
				{% if perms.flntr_app.change_studentprofile %}
				<li><a href="{% url 'show_user_account'%}">View My Profile</a></li>
				{% endif %}
			{% else %}
			<li><a href="{% url 'login' %}">Log In</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
			{% endif %}
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'index' %}">Homepage</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
   		</ul>
  </div>
  <hr />
  </body>
</html>
