{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	this page works
{% endblock %}

{% block body_block %}
	<div>
		<br>
		<br>
		<h2>{{ flat.title }}</h2>
	</div>
  <form Id="edit_flat_form" action="{% url 'edit_flat' flat.slug %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{{ edit_flat_form.as_p }}

		<input type="submit" name="submit" value="Update Flat" />

	</form>
	<br><br>
  <a href="{% url 'delete_flat' flat.slug %}"><button type="button"
		class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Flat</button></a>

{% endblock %}
