{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	flntr - Login
{% endblock %}

{% block body_block %}
<br>
<div align="center">
	<h1>Login to flntr</h1>
</div>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container-fluid">
	<div align="center">


	<form id="login_form" action="/flntr/login/" method="post">
		{% csrf_token %}
		{% load bootstrap %}
		{{ login_form|bootstrap_horizontal:'col-lg-8'}}


		<input class="btn btn-primary" type="submit" value="Login" />

	</form>
		</div>
</div>
<br><br>

{% endblock %}
