{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<h1>Login to flntr</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="login_form" action="/flntr/login/" method="post">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br>
	Password: <input type="password" name="password" value=""	size="50" />
	<br>
	<input type="submit" value="submit" />

</form>
{% endblock %}
