{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	flntr - Flats
{% endblock %}

{% block body_block %}

	<div>
		<h2>All Flats</h2>
		<a href="#map"><button type="button" class="btn btn-info">View All Properties on Map</button></a>
		{% if allflats %}
			<ul>
			{% for flat in allflats %}
			<div class="flat-view" style="cursor: pointer;" onclick="window.location='{% url 'show_property' flat.slug %}';">
				<h4 class="post-title">{{flat.title}}</h4>
				<div class="flat-image">
					<img width="200" height="200" src="{% for flatimage in flat_images %} {% if flatimage.flat == flat %} {{ MEDIA_URL }}{{ flatimage.image.url }} {% endif %} {% endfor %}" alt="No image available" onerror="this.onerror=null;this.src='{% static 'img/alt_flat_image.png' %}';"/>
				</div>
				<div class="flat-description">
					<p>{{flat.description}}</p>
					<ul>
						<li>Location: {{ flat.streetAddress }}</li>
						<li>Average Price per Room: £{{ flat.averageRoomPrice }}</li>
						<li>Date added: {{ flat.dayAdded }}</li>
					</ul>
				</div>
			</div>
			{% endfor %}
			</ul>
		{% else %}
			There are no rooms
		{% endif %}
	</div>


	<div id="map", style="width: 100%; height:700px; margin-top: 25px;"></div>
	    <script>
	      var map;
	      function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 55.8721211, lng:-4.2882},
	          zoom: 14
	        });

			var LatLng;
			var infowindows = [];

				{% for flat in allflats %}
				LatLng = {lat: parseFloat("{{flat.latitude}}"), lng: parseFloat("{{flat.longitude}}")};
					var marker{{flat.pk}} = new google.maps.Marker({
				  	position: LatLng,
				  	map: map,
				  	title: "{{flat.title}}",
					animation: google.maps.Animation.DROP
					});

					var contentString{{flat.pk}} = "<h6><a href=\"{% url 'show_property' flat.slug %}\">{{ flat.title }}</a></h6></br>"
					+ "<div>" + "{{flat.description}}" + "<ul>" + "<li>£{{flat.averageRoomPrice}}</li><li>{{flat.numberOfRooms}}</li><li>£{{flat.streetAddress}}</li><li>£{{flat.distanceText}} from University</li></ul></div>";

					var infowindow{{flat.pk}} = new google.maps.InfoWindow({
  					content: contentString{{flat.pk}}
					});
					infowindows.push(infowindow{{flat.pk}});

					marker{{flat.pk}}.addListener('click', function() {
						for(var i = 0; i < infowindows.length; i++){
							infowindows[i].close();
						}
          				infowindow{{flat.pk}}.open(map, marker{{flat.pk}});
        			});


				{% endfor %}



	      }
	    </script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0crhPrG5Yc6_hh9fbjb8_LqqW2Je3Ho&callback=initMap"
	    async defer></script>






{% endblock %}
