    {% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
    flntr - Register
{% endblock %}

{% block body_block %}

<div class="container-fluid">
  <div align="center">

<br><br>
<h1>Register with flntr</h1>
{% if registered %}
	<strong>thank you for registering!</strong>
	<a href="{% url 'index' %}">Return to the homepage.</a><br />
{% else %}



    <form class="fb_login_form" action="index.html" method="post">




        <div class="fb-login-button" scope="public_profile,email" data-width="250" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
    </form>

<hr>
	<form Id="user_form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
  {% load bootstrap %}

  {{ user_form|bootstrap_horizontal }}
    {{ age_form|bootstrap_horizontal }}
    <strong>I am a:</strong>
    <select name="group_choice">
      <option value="Student">Student</option>
      <option value="Landlord">Landlord</option>
    </select>
    <br> <br>
		<input class="btn btn-primary" type="submit" name="submit" id="submit_button" value="Register" />

	</form>
{% endif %}

</div>
</div>
{% endblock %}
