{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	this page works
{% endblock %}

{% block body_block %}
<div>
	{% if flat %}
		<h1>{{ flat.title }}</h1>
		<ul>
			<li>Location: {{ flat.streetAddress }}</li>
			<li>Number of rooms: {{ flat.numberOfRooms }}</li>
			<li>Description: {{ flat.description }}</li>
			<li>Distance from University: {{ flat.distanceText }}</li>
		</ul>
	</div>

	{% if imagelist %}
	<ul>
	{% for flatimage in imagelist %}
		<li>
			<img src="{{ MEDIA_URL }}{{ flatimage.image.url }}" width="300" height="300" alt="{{ flatimage.image }}" />
		</li>
	{% endfor %}
	</ul>
	{% else %}
		No image for this flat
	{% endif %}

	<div>
		<style>
			#map {
			height: 400px;
			width: 50%;
			}
		</style>

		<div id="map"></div>
		<script>


		function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: 55.872978, lng: -4.296508}
        });
        var geocoder = new google.maps.Geocoder();
		geocodeAddress(geocoder, map);
      }

		function geocodeAddress(geocoder, resultsMap) {
        var address = "{{ flat.postCode }}";
        geocoder.geocode({'address': address, componentRestrictions: {country: 'GB'}}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0crhPrG5Yc6_hh9fbjb8_LqqW2Je3Ho&callback=initMap">
    </script>
	</div>
	<div>
		{% if roomlist %}
		<ul>
			{% for room in roomlist %}
			<li>Room {{ room.roomNumber }}</li>
			<ul>
				{% if room.student %}
				<li>This room is taken ..</li> 
				<li><a href="{% url 'show_property_user_profile' flat.slug room.student.slug %}">{{ room.student.user.username }}</a></li>
				<li><img src="{{ MEDIA_URL }}{{ room.student.picture.url }}" width="60" height="60" alt="{{ room.student.picture }}" /></li>
				<li>Age: {{ room.student.age }}</li>
					{% if user == room.student.user %}
					<li>Remove</li>
					{% endif %}
				{% else %}
				<li>This room is available</li>
				<li>Price: £{{ room.price }}</li>
				<li>Size: {{ room.size }}</li>
				<li>Request this room</li>
				{% endif %}
			</ul>
			{% endfor %}
		</ul>
		{% else %}
		failure
		{% endif %}
	<div>
		<ul>
			<li>Contact Landlord</li>
			<li><a href="{% url 'show_user_properties' flat.owner.slug %}">View Landord's other flats</a></li>
		</ul>
	</div>
	{% else %}
		Does not exist
	{% endif %}

</div>
{% endblock %}
