{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}

{% endblock %}

{% block body_block %}

<style>
.flat-view {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   	transition: 0.3s;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    overflow: auto
}

.flat-view:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.flat-image {
    float: left;
}
.flat-image img {
    display: block
}
.flat-description {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    padding: 10px;
    background: #ccc
}
</style>

<div>
	{% if landlord %}
		{% if landlordname %}
			<h2>{{ landlordname }}'s Flats</h2>
		{% endif %}
</div>
	<div>
		{% if landlordflats %}
			<ul>
			{% for flat in landlordflats %}
			<div class="flat-view" style="cursor: pointer;" onclick="window.location='{% url 'show_property' flat.slug %}';">
				<h4 class="post-title">{{flat.title}}</h4>
				<div class="flat-image">
					<img width="200" height="200" src="{% for flatimage in recent_flat_images %} {% if flatimage.flat == flat %} {{ MEDIA_URL }}{{ flatimage.image.url }} {% endif %} {% endfor %}" alt="idk"/>
				</div>
				<div class="flat-description">
					<p>{{flat.description}}</p>
					<ul>
						<li>Location: {{ flat.streetAddress }}</li>
						<li>Average Price per Room: £{{ flat.averageRoomPrice }}</li>
						<li>Date added: {{ flat.dayAdded }}</li>
					</ul>
				</div>
			</div>

			{% endfor %}
			</ul>
		{% else %}
			There are no rooms
		{% endif %}

		<a href="{% url 'delete_profile' %}"><button type="button"
			class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Account</button></a>
			<a href="{% url 'change_password' %}"><button type="button"
				class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Change Password</button></a>

		<a href="{% url 'show_user_requests' landlord.slug %}">View Room Requests</a>

	{% else %}
		Does not exist
	{% endif %}
	</div>
{% endblock %}
