{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	this page works
{% endblock %}

{% block body_block %}
<div>
	{% if flat %}
		<h1>{{ flat.title }}</h1>
		<ul>
			<li>Location: {{ flat.streetAddress }}</li>
			<li>Number of rooms: {{ flat.numberOfRooms }}</li>
			<li>Description: {{ flat.description }}</li>
			<li>Distance from University: {{ flat.distanceText }}</li>
		</ul>
	</div>
	<div>
		{% if user.username == flat.owner.user.username %}
		<ul>
			<li><a href="{% url 'edit_flat' flat.slug %}"><button type="button"
				class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Flat</button></a></li>
			<li><a href="{% url 'delete_flat' flat.slug %}"><button type="button"
				class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Flat</button></a>
</li>
		</ul>
		{% endif %}

	{% if imagelist %}
	<ul>
	{% for flatimage in imagelist %}
		<li>
			<img src="{{ MEDIA_URL }}{{ flatimage.image.url }}" width="300" height="300" alt="{{ flatimage.image }}" />
		</li>
	{% endfor %}
	</ul>
	{% else %}
		No image for this flat
	{% endif %}

	<div>
		<style>
			#map {
			height: 400px;
			width: 50%;
			}
		</style>

		<div id="map"></div>
	<script>

 	   var LatLng = {lat: parseFloat("{{flat.latitude}}"), lng: parseFloat("{{flat.longitude}}")};

	function initMap() {
	  	 var map = new google.maps.Map(document.getElementById('map'), {
		 zoom: 16,
		 center: LatLng
	   });

	   var marker = new google.maps.Marker({
		 position:  LatLng,
		 map: map,
		 title: "{{flat.title}}"
	   });
	 }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0crhPrG5Yc6_hh9fbjb8_LqqW2Je3Ho&callback=initMap">
    </script>
	</div>
	<div>
		{% if roomlist %}
		<ul>
			{% for room in roomlist %}
			<li>Room {{ room.roomNumber }}</li>
			<ul>
				{% if room.student %}
				<li>This room is taken ..</li>
				<li><a href="{% url 'show_property_user_profile' flat.slug room.student.slug %}">{{ room.student.user.username }}</a></li>
				<li><img src="{{ MEDIA_URL }}{{ room.student.picture.url }}" width="60" height="60" alt="{{ room.student.picture }}" /></li>
				<li>Age: {{ room.student.age }}</li>
					{% if user.username == room.student.user.username %}
					<li>Remove</li>
					{% endif %}
				{% else %}
				<li>This room is available</li>
				<li>Price: £{{ room.price }}</li>
				<li>Size: {{ room.size }}</li>
					{% if perms.flntr_app.change_studentprofile %}
				<li><a href="{% url 'send_request' flat.slug room.roomNumber %}">Request this room</a></li>
					{% endif %}
				{% endif %}
			</ul>
			{% endfor %}
		</ul>
		{% else %}
		failure
		{% endif %}
	<div>
		<ul>
			<li>Contact Landlord</li>
			<li><a href="{% url 'show_user_properties' flat.owner.slug %}">View Landord's other flats</a></li>
		</ul>
	</div>
	{% else %}
		Does not exist
	{% endif %}

</div>
{% endblock %}
