{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	flntr - {{ flat.title }}
{% endblock %}

{% block body_block %}


<div>
	{% if flat %}
		<h1>{{ flat.title }}</h1>
		<ul>
			<li>Location: {{ flat.streetAddress }}</li>
			<li>Number of rooms: {{ flat.numberOfRooms }}</li>
			<li>Description: {{ flat.description }}</li>
			<li>Distance from University: {{ flat.distanceText }}</li>
		</ul>
	</div>
	<div>
		{% if user.username == flat.owner.user.username %}
		<ul>
			<li><a href="{% url 'edit_flat' flat.slug %}"><button type="button"
				class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Flat</button></a></li>
			<li><a href="{% url 'delete_flat' flat.slug %}"><button type="button"
				class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Flat</button></a>
</li>
		</ul>
		{% endif %}
	<br/>	
	{% if imagelist %}
	<ul  class="horizontal-list">
	{% for flatimage in imagelist %}
		<li>
			<img src="{{ MEDIA_URL }}{{ flatimage.image.url }}" width="300" height="300" alt="{{ flatimage.image }}" />
		</li>
	{% endfor %}
	</ul>
	{% else %}
		No image for this flat
	{% endif %}
	<br/>
	<div>


		<div id="flat-view-map"></div>
		<form action="/action_page.php">
  			<input type="checkbox" id="food_check"> Food & Drink<br>
  			<input type="checkbox" id="ent_check"> Entertainment<br>
			<input type="checkbox" id="sport_check"> Sport & Fitness<br>
			<input type="checkbox" id="shop_check"> Shopping<br>
		</form>

	<script>

 	   var LatLng = {lat: parseFloat("{{flat.latitude}}"), lng: parseFloat("{{flat.longitude}}")};

	   var map;

	function initMap() {
	  	 map = new google.maps.Map(document.getElementById('flat-view-map'), {
		 zoom: 16,
		 center: LatLng
	   });

	   var marker = new google.maps.Marker({
		 position:  LatLng,
		 map: map,
		 title: "{{flat.title}}"
	   });

	 }

    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0crhPrG5Yc6_hh9fbjb8_LqqW2Je3Ho&callback=initMap">
    </script>
	</div>
	<div>
		<br/>
		<h2>Rooms in this Flat:</h2>
		{% if roomlist %}
		{% for room in roomlist %}
			{% if forloop.counter0|divisibleby:4 %}
			<div class="card-deck">
			{% endif %}
				<div class="room-view">
					<h5 class="room-title">Room {{ room.roomNumber }}</h5>

					<div class="room-description">
						<ul>
							{% if room.student %}
							<li>This room is taken ..</li>
							<li><a href="{% url 'show_property_user_profile' flat.slug room.student.slug %}">{{ room.student.user.username }}</a></li>
							<div class="room-pic">
								<li><img src="{{ MEDIA_URL }}{{ room.student.picture.url }}" width="80" height="80" alt="{{ room.student.picture }}" /></li>
							</div>
							<li>Age: {{ room.student.age }}</li>
								{% if user.username == room.student.user.username %}
								<li>Remove</li>
								{% endif %}
							{% else %}
							<li><strong>This room is available</strong></li>
							<li>Price: £{{ room.price }}</li>
							<li>Size: {{ room.size }}</li>
								{% if perms.flntr_app.change_studentprofile %}
							<li><a href="{% url 'send_request' flat.slug room.roomNumber %}">Request this room</a></li>
								{% else %}
							<li><a href="{% url 'login' %}">Login to Request this room</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
			{% if forloop.counter0|add:"-3"|divisibleby:4 %} 
			</div>
			{% endif %}
		{% endfor %}
		{% endif %}
	</div>


	<br/><br/>
	<div>

			<a href="mailto:{{ flat.owner.email }}"><button type="button"
				class="btn btn-info">Contact Landlord</button>
			<a href="{% url 'show_user_properties' flat.owner.slug %}"><button type="button"
				class="btn btn-success">View Landord's other flats</button></a>

	</div>
	{% else %}
		Does not exist
	{% endif %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

$(document).ready(function() {

	var foodmarker1 = new google.maps.Marker({
	  position:  {lat : 55.877671, lng : -4.289873},

	  title: "Oran Mor",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker2 = new google.maps.Marker({
	  position:  {lat : 55.874955, lng : -4.293167},

	  title: "Ubiquitous Chip",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker3 = new google.maps.Marker({
	  position:  {lat : 55.866972, lng : -4.289219},

	  title: "Butchershop Bar & Grill",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker4 = new google.maps.Marker({
	  position:  {lat : 55.864569, lng : -4.283339},

	  title: "Fanny Trollopes",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker5 = new google.maps.Marker({
	  position:  {lat : 55.870842, lng : -4.298903},

	  title: "No. 16",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker6 = new google.maps.Marker({
	  position:  {lat : 55.874940, lng : -4.280578},

	  title: "Inn Deep",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker7 = new google.maps.Marker({
	  position:  {lat : 55.878051, lng : -4.322470},

	  title: "Wee Lochan",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var foodmarker8 = new google.maps.Marker({
	  position:  {lat : 55.877003, lng : -4.290612},

	  title: "Hillhead Bookclub",
	  icon: '{% static "map_pins/food-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});





	var entmarker1 = new google.maps.Marker({
	  position:  {lat : 55.874567, lng : -4.293186},

	  title: "Grosvenor Cinema",
	  icon: '{% static "map_pins/ent-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var entmarker2 = new google.maps.Marker({
	  position:  {lat : 55.8685891, lng : -4.2906039},

	  title: "Kelvingrove Art Gallery and Museum",
	  icon: '{% static "map_pins/ent-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var entmarker3 = new google.maps.Marker({
	  position:  {lat : 55.858743, lng : -4.294550},

	  title: "Glasgow Science Centre",
	  icon: '{% static "map_pins/ent-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var entmarker4 = new google.maps.Marker({
	  position:  {lat : 55.879456, lng : -4.291471},

	  title: "Glasgow Botanic Gardens",
	  icon: '{% static "map_pins/ent-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var entmarker5 = new google.maps.Marker({
	  position:  {lat : 55.860129, lng : -4.285279},

	  title: "The Hydro",
	  icon: '{% static "map_pins/ent-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});



	var sportmarker1 = new google.maps.Marker({
	  position:  {lat : 55.872911, lng : -4.285293},

	  title: "Glasgow University Stevenson Building",
	  icon: '{% static "map_pins/gym-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var sportmarker2 = new google.maps.Marker({
	  position:  {lat : 55.850685, lng : -4.305372},

	  title: "Glasgow Climbing Centre",
	  icon: '{% static "map_pins/gym-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var sportmarker3 = new google.maps.Marker({
	  position:  {lat : 55.868536, lng : -4.293976},

	  title: "Kelvin Hall",
	  icon: '{% static "map_pins/gym-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});




	var shopmarker1 = new google.maps.Marker({
	  position:  {lat : 55.875464, lng : -4.294590},

	  title: "Ruthven Mews Arcade",
	  icon: '{% static "map_pins/shop-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var shopmarker2 = new google.maps.Marker({
	  position:  {lat : 55.864518, lng : -4.283165},

	  title: "The Shop of Interest",
	  icon: '{% static "map_pins/shop-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var shopmarker3 = new google.maps.Marker({
	  position:  {lat : 55.875019, lng : -4.281039},

	  title: "The Glasgow Vintage Co.",
	  icon: '{% static "map_pins/shop-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});

	var shopmarker4 = new google.maps.Marker({
	  position:  {lat : 55.872185, lng : -4.312336},

	  title: "West End Retail Park",
	  icon: '{% static "map_pins/shop-pin.png" %}',
	  animation: google.maps.Animation.DROP
	});




    $('#food_check').change(function() {
        if(this.checked) {
			foodmarker1.setMap(map);
			foodmarker2.setMap(map);
			foodmarker3.setMap(map);
			foodmarker4.setMap(map);
			foodmarker5.setMap(map);
			foodmarker6.setMap(map);
			foodmarker7.setMap(map);
			foodmarker8.setMap(map);
        } else {
			foodmarker1.setMap(null);
			foodmarker2.setMap(null);
			foodmarker3.setMap(null);
			foodmarker4.setMap(null);
			foodmarker5.setMap(null);
			foodmarker6.setMap(null);
			foodmarker7.setMap(null);
			foodmarker8.setMap(null);
		}
    });

	$('#ent_check').change(function() {
		if(this.checked) {
			entmarker1.setMap(map);
			entmarker2.setMap(map);
			entmarker3.setMap(map);
			entmarker4.setMap(map);
			entmarker5.setMap(map);
		} else {
			entmarker1.setMap(null);
			entmarker2.setMap(null);
			entmarker3.setMap(null);
			entmarker4.setMap(null);
			entmarker5.setMap(null);
		}
	});


	$('#sport_check').change(function() {
		if(this.checked) {
			sportmarker1.setMap(map);
			sportmarker2.setMap(map);
			sportmarker3.setMap(map);
		} else {
			sportmarker1.setMap(null);
			sportmarker2.setMap(null);
			sportmarker3.setMap(null);
		}
	});

	$('#shop_check').change(function() {
		if(this.checked) {
			shopmarker1.setMap(map);
			shopmarker2.setMap(map);
			shopmarker3.setMap(map);
			shopmarker4.setMap(map);
		} else {
			shopmarker1.setMap(null);
			shopmarker2.setMap(null);
			shopmarker3.setMap(null);
			shopmarker4.setMap(null);
		}
	});

});
</script>

{% endblock %}
