{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	this page works
{% endblock %}
{% block body_block %}	
<div>
	{% if landlordname %}
	<h2>{{ landlordname }}</h2>
	{% else %}
	Could not find landlord profile
	{% endif %}
</div>
<div>
	{% if requests %}
	<ul>
		{% for request in requests %}
		<li><a href="{% url 'show_user_properties_aProperty' request.landlord.slug request.room.flat.slug %}">{{ request.room.flat }}</a></li>
		<ul>
			<li>For Room {{ request.room.roomNumber }}</li>
			<li>From: {{ request.student }}</li>
			<li><a href="{% url 'show_user_requests_profile' request.landlord.slug request.student.slug %}">View their profile</a></li>
			{% if request.message %}
			<li>Message: {{ request.message }}</li>
			{% endif %}
			<form id="request_response_form" method="post" action="{% url 'show_user_requests' request.landlord.slug %}">
				{% csrf token %}
				{% load bootstrap %}
				{{ request_response_form|bootstrap }}
				<input type="submit" name="submit" value="Send Response" />
			</form>

			<li>Approve Request</li>
			<li>Delete Request</li>
		</ul>
		{% endfor %}
	</ul>
	{% else %}
	You have no outstanding requests
	{% endif %}
</div>

{% endblock %}