{% extends 'flntr/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if studentprofile %}
	flntr - {{ studentprofile.user.first_name }}'s Profile
	{% endif %}
{% endblock %}

{% block body_block %}
<style>
.request-view {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   	transition: 0.3s;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    overflow: auto
}

.request-view:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.request-image {
    float: right;
}
.request-image img {
    display: block
}
.request-description {
    margin-right: 210px
}
.post-title {
    font-weight: bold;
    padding: 10px;
    background: #ccc
}

</style>
	<div>
		<br>
		<br>
	{% if studentprofile %}
		<h2>{{ studentprofile.user.first_name }} {{ studentprofile.user.last_name }}'s Profile</h2>
	</div>
	<div>
		<ul>
			{% if studentprofile.picture %}
			<li><img src="{{ MEDIA_URL }}{{ studentprofile.picture.url }}" width="300" height="300" alt="{{ room.studentprofile.picture }}" /></li>
			{% endif %}
			<li>Age: {{ studentprofile.age }}</li>
			<li>Gender: {{ studentprofile.gender }}</li>
			<li>Bio: {{ studentprofile.bio }}</li>
		</ul>
	</div>
	<div>
		<br/>
		{% if user.username == studentprofile.user.username %}
		<a href="{% url 'edit_profile' %}"><button type="button"
			class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Profile</button></a>
			<br/><br/>
			{% if requestsent %}
			<div class="request-view" style="cursor: pointer;">
				<h4 class="post-title">Request awaiting approval</h4>
				<div class="request-description">
					<ul>
						<li>&nbsp;&nbsp;&nbsp;To: {{ requestsent.landlord }}</li>
						<li>&nbsp;&nbsp;&nbsp;For: {{ requestsent.room.flat }}</li>
						<li>&nbsp;&nbsp;&nbsp;Room: {{ requestsent.room.roomNumber }}</li>
						<li>&nbsp;&nbsp;&nbsp;Message: {{ requestsent.message }}</li>
					</ul>
				</div>
				<br/>
					<form Id="request_withdraw" method="post" action="{% url 'show_user_profile' studentprofile.slug %}">
						{% csrf_token %}
							&nbsp;&nbsp;&nbsp;<input class="btn btn-primary"  type="submit" name="withdraw" value="Withdraw Request" />
					</form>
				<br/>

				&nbsp;&nbsp;&nbsp;<a href="mailto:{{ request.landlord.user.email }}"><button type="button"
					class="btn btn-info">Contact Landlord</button></a>
			<br/>
			</div>
			{% endif %}
		{% endif %}
	</ul>

</div>
	{% else %}
		Does not exist
	{% endif %}
{% endblock %}
