{% extends 'flntr/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
	this page works
{% endblock %}
{% block body_block %}	
<div>
	{% if landlordname %}
	<h2>{{ landlordname }}</h2>
	{% else %}
	Could not find landlord profile
	{% endif %}
</div>
<div>

	{% if requests %}
	<p>Your requests outstanding:</p>
	<ul>
		{% for request in requests %}
		<li><a href="{% url 'show_user_properties_aProperty' request.landlord.slug request.room.flat.slug %}">{{ request.room.flat }}</a></li>
		<ul>
			<li>For Room {{ request.room.roomNumber }}</li>
			<li>From: {{ request.student }}</li>
			<li><a href="{% url 'show_user_requests_profile' request.landlord.slug request.student.slug %}">View their profile</a></li>
			<div class="room-pic">
				<li><img src="{{ MEDIA_URL }}{{ request.student.picture.url }}" width="80" height="80" alt="{{ request.student.picture }}" /></li>					
			</div>
			<li><a href="{% url 'show_user_requests_aRequest' request.landlord.slug request.student.slug %}">View accept or decline request</a></li>
		</ul>
		{% endfor %}
	</ul>
	{% else %}
	You have no outstanding requests
	{% endif %}
</div>

{% endblock %}